flows.json
[{"id":"aa1cc2e1b71001a7","type":"tab","label":"UiBuilder","disabled":false,"info":"","env":[]},{"id":"29c1e58a14271b94","type":"uibuilder","z":"aa1cc2e1b71001a7","name":"","topic":"","url":"testing","okToGo":true,"fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"templateFolder":"blank","extTemplate":"","showfolder":false,"reload":false,"sourceFolder":"src","deployedVersion":"6.8.2","showMsgUib":true,"title":"","descr":"","x":620,"y":320,"wires":[["280c0eda9615c873"],["a832510e9a1be7bd"]]},{"id":"ad5335ef3dfde891","type":"inject","z":"aa1cc2e1b71001a7","name":"","props":[{"p":"payload"},{"p":"topic","v":"[{\"name\":\"machine_1\",\"status\":\"stop\"},{\"name\":\"machine_2\",\"status\":\"start\"}]","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":410,"y":300,"wires":[["29c1e58a14271b94"]]},{"id":"280c0eda9615c873","type":"debug","z":"aa1cc2e1b71001a7","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":860,"y":260,"wires":[]},{"id":"a832510e9a1be7bd","type":"debug","z":"aa1cc2e1b71001a7","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":840,"y":340,"wires":[]}]